
@font-face {
  font-family: "FNL_DEMO-KCFonts";
  src: url('../fonts/FNL_DEMO-KCFonts.ttf') format("truetype");
}

@font-face {
  font-family: "LCD_Solid";
  src: url('../fonts/LCD_Solid.ttf') format("truetype");
}

.centro{
  background-color: #FF9500;
  bottom: 100%;
}

footer{
  position: fixed;
  top:94%;
}

.centro{
  font-family: "FNL_DEMO-KCFonts", Verdana, Tahoma;
}

.jugar{
  font-size: 20px;
}

.instrucciones{
  font-size: 20px;
  font-family: "LCD_Solid", Verdana, Tahoma;
}

html{
  min-height: 100%;
}

body{
  background-color: #FF9500;
  min-height: 100%;
}

.botonJugar{
  font-size: 30px;
  height: 60px;
  width: 120px;
}
