.elemento{
  background-color: yellow;
  height: 100px;
  width: 100px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  display:inline-block;
}

.elemento:hover{
  width: 300px;
}
