body {
    background-image: url('../images/fondo (2).jpg');
}

@font-face {
    font-family: "My Custom Font";
    src: url('../fonts/Queen of Camelot.otf') format("truetype");
}

a{
  background-color: black;
}

#seleccion{
  font-size: 200%;
}

#busqueda{
  font-size: 200%;
}

#titulo{
  font-size: 400%;
}

.estilo{
  font-style: italic;
  font-family: "My Custom Font", Verdana, Tahoma;

}
